DATABASE_URL="file:./dev.db"
POSTGRES_URL=
JWT_SECRET=
JWT_REFRESH_SECRET=
ALLOW_REGISTER=true
SKIP_AUTH=false
PORT=3333

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3333/auth/google/callback